.parent {
  display: flex;
  .chat__area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    overflow: hidden;
    .chat__area__header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 12px 24px;
      gap: 10px;
      background: #1c1d22;
      border-bottom: 1px solid #37393c;
      width: 100%;
      .chat__area__header__user {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
      .chat__area__header__icons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 16px;
      }
    }
    .chat__area__section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 24px;
      gap: 16px;
      background: #141416;
      width: 100%;
      .chat__area__section__rightchat {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 40px;
      }
      .chat__area__section__rightchat__chatbubble {
        display: flex;
        padding: 8px;
        gap: 10px;
        background: #26272d;
        border-radius: 0px 4px 4px 4px;
        max-width: 532px;
        max-height: 96px;
        align-self: start;
      }
      .chat__area__section__leftchat__chatbubble {
        display: flex;
        padding: 8px;
        gap: 10px;
        background: #bdd2b6;
        border-radius: 0px 4px 4px 4px;
        max-width: 532px;
        max-height: 96px;
        align-self: end;
      }
      .chat__area__section__rightchat__texts {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
      .chat__area__section__leftchat__texts {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #1d1e22;
      }
    }
    .message__bar {
      display: flex;
      align-items: center;
      padding: 12px 24px;
      position: fixed;
      gap: 10px;
      width: 100vw;
      bottom: 0;
      height: 64px;
      background: #1c1d22;
      border-top: 1px solid #37393c;
      .search__bar {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        gap: 8px;
        width: 608px;
        height: 40px;
        background: #26272d;
        border-radius: 8px;
        input {
          background: none;
          border: none;
          outline: none;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          width: 100%;
          height: 100%;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 320px;
    height: 100vh;
    left: 0px;
    top: 0px;
    border-right: 1px solid #37393c;
    background: #1c1d22;
    .sidebar__devider {
      width: 100%;
      border-bottom: 1px solid #37393c;
    }
    .sidebar__chat {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 620px;
      background: #1c1d22;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .sidebar__chat__user {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 12px 24px;
        gap: 8px;
        width: 100%;
        height: 72px;
        background: #141416;
        cursor: context-menu;
      }
      .sidebar__chat__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .sidebar__chat__content__title {
          font-style: normal;
          font-weight: 600;
          font-size: 16px;
          line-height: 24px;
          color: #ffffff;
        }
        .sidebar__chat__content__text {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.6);
          width: 216px;
          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
    .sidebar__title__container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 12px 24px;
      gap: 10px;
      width: 100%;
      height: 56px;
      .sidebar__title {
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: #ffffff;
      }
    }
    .sidebar__top__section {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 12px 16px;
      gap: 10px;
      width: 100%;
      height: 64px;
      .sidebar__top__section__icons {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 64px;
        height: 24px;
      }
    }
    .sidebar__search {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 12px 16px 24px;
      gap: 10px;
      width: 100%;
      height: 76px;
      .sidebar__search__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 12px;
        gap: 8px;
        width: 288px;
        height: 40px;
        background: #26272d;
        border-radius: 8px;

        input {
          background: none;
          outline: none;
          border: none;
          font-family: inherit;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: rgba(255, 255, 255, 0.6);
        }
      }
    }
  }
  .chat__details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    border-left: 1px solid #37393c;
    z-index: 2;
    height: 100vh;
    background: #1c1d22;
    .chat__details__header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 24px;
      gap: 8px;
      border-bottom: 1px solid #37393c;
      width: 100%;
      .chat__details__header__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #ffffff;
      }
    }
    .profile__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 24px;
      gap: 16px;
    }
    .profile__description {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .status {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 14px 34px;
      gap: 8px;
      border-top: 1px solid #37393c;
      border-bottom: 1px solid #37393c;
      width: 100%;
    }
    .status__title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #ffffff;
    }
    .status__description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      color: rgba(255, 255, 255, 0.6);
    }
    .function__section {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 24px;
      gap: 24px;
      .function__section__button {
        justify-content: space-between;
        display: flex;
        align-items: center;
        padding: 8px 12px;
        gap: 8px;
        width: 232px;
        height: 36px;
        background: #26272d;
        border-radius: 4px;
      }
      .info {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #ffffff;
      }
    }
  }
}
