$purple: #7c5cfc;
$purple--dark: #664ccf;
$purple--darker: #513aad;
$purple--darkest: #664ccf66;
$purple--dark-2: #664ccf33;
$bg--light: #ffffff;
$bg--dark: #292d32;
$bg--darker: #16191c;
$text-color: #cccccc;
