@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: none;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: #151515;
}
