$purple: #7c5cfc;
$purple--dark: #664ccf;

.form {
  display: flex;
  justify-content: center;
  margin-top: 25vh;
}
.form__child {
  background-color: #16191c;
  height: 340px;
  width: 570px;
  border-radius: 12px;
  align-items: center;
  border: 1px #664ccf66 solid;
  display: flex;
}
.register {
  margin: 10px 0;
  justify-content: center;
  display: flex;
  align-items: center;
  .action {
    color: $purple;
    font-size: 14px;
    margin: 5px;
    transition: ease-out 0.2s all;
    cursor: pointer;
    &:hover {
      color: $purple--dark;
    }
  }
}
.desc {
  color: #fff;
  font-size: 14px;
}
.textus {
  font-size: 30px;
  color: $purple;
  font-weight: normal;
  user-select: none;
}