.input {
  background-color: #292d32;
  color: #ccc;
  border: 1px #292d32 solid;
  outline: none;
  width: 300px;
  height: 40px;
  padding: 10px;
  border-radius: 16px;
  margin: 14px 0;
  transition: ease-in-out 0.3s all;
  &:hover, &:focus {
    outline: #513aadd2 1px solid;
  }
  &::placeholder {
    color: #ccc;
    opacity: 1; 
  }
}
