@use 'base';

.input {
  background-color: base.$bg--dark;
  color: base.$text-color;
  border: 1px base.$bg--dark solid;
  font-size: 18px;
  outline: none;
  width: 300px;
  height: 50px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  border-radius: 16px;
  margin: 14px 0;
  transition: ease-in-out 0.3s all;
  input {
    color: #fff;
    background: none;
    border: none;
    outline: none;
  }
  &:hover,
  &:focus {
    outline: base.$purple--dark 1px solid;
  }
  &::placeholder {
    color: base.$text-color;
    opacity: 1;
  }
}
